@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;0,700;1,600&family=Nunito:wght@200;300&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    color: #9c9c9c;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans,sans-serif;
    color: #333;
    font-weight: 700;
}
.padded{
    padding: 120px 0px 120px 0px;
}
.button-red{
    background-color: #fe3e57;
    border: 1px solid #cb2e43;
    color: #fff;
}
#navbarNav{
    padding-left: 150px;
}
#navbarNav ul li{
    padding: 30px 10px;
    color: #666;
}
#inicio{
    background-image: url(https://follio-next-js.netlify.app/_next/static/media/slide-2.f2a5aab264eacb408c1bf2884c4894a7.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}
#button-inicio:hover{
    transition: .5s;
    background-color: #fe3e57;
    border: 1px solid #cb2e43;
}
.blue{
    color: #131058;
}
#about p{
    color: #000;
}
#ul-cv {
    list-style: none; /* quitamos el marcador */
    padding: 0;     
    margin-left: 10px; 
    }
    
    #ul-cv li::before { 
    content: "\2022"; /* insertamos el marcador */
    padding-right: 8px; 
    color: red; 
}
#portfolio{
    background-color: #f9f9f9;
}
#hablemos{
    background-color: #f9f9f9;
}
.getintochu{
    background-color: #eee;
    border: 0;
    padding: 15px;
}
footer{
    background-color: #eeecec;
}

